body {
  font: 14px'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #143D29;
  margin: 10 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: #eeeeff;
}
* {
  margin: 3pt;
  padding: 3pt;
}
.darker {
  background-color: #e0e0ff;
}
table {
  border-style: groove;
  border-collapse: collapse;
  border-color: #143D29;
  border-width: thin;
}
.title {
  font-weight: bold;
  font-size: 24px;
}
td {
  color: #143D29;
  border-style: inset;
  border-width: thin;
}
.disabled {
  background-color: #eeeeee;
}
.good {
  background-color: #ccccff;
}
.ok {
  background-color: #ffffcc;
}
.bad {
  background-color: #ffcccc;
}
a {
  padding: 4pt;
  border-width: thin;
  border-style: groove;
  color: #143D29;
  background-color: #e0e0ff;
}
button {
  background-color: #b5b5ff;
  border: 1px solid #143D29;
  display: inline-block;
  cursor: pointer;
  color: #143D29;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
}
button:hover {
  background-color: #9999ff;
}
button:active {
  position: relative;
  top: 1px;
}
button:disabled {
  background-color: #ffffff;
  border: 1px solid #C8E4D6;
  color: #C8E4D6;
}
button:focus {
  outline-color: #143D29;
}
input {
  height: 20px;
  width: 175px;
  border: 1px solid #143D29;
  outline-color: #143D29;
  padding: 6px 10px;
}
select {
  height: 32px;
  width: 175px;
  border: 1px solid #143D29;
  padding: 6px 10px;
  outline-color: #143D29;
  background-color: #FFFFFF;
}
select:active {
  text-emphasis-color: #999;
  column-rule-color: #123;
}
textarea {
  width: 350px;
  border: 1px solid #143D29;
  outline: 0;
  padding: 6px 10px;
}

/* from http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #A9D4BF;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #A9D4BF;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #A9D4BF;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #A9D4BF;
}
