<h1>Administration</h1>
<h2>Configuration</h2>
<div class="darker">
  <h2>Web-UI</h2>
  Sort subscriptions by:
    <select ng-model="adminCtrl.subscriptionSort" ng-change="adminCtrl.onSubscriptionSortChanged()">
      <option value="alphabetical">Alphabetical</option>
      <option value="lastTorrentDownload">Last torrent download</option>
    </select>

  <h2>Server</h2>
  Server host:
    <input type="text" ng-model="adminCtrl.serverHost" ng-change="adminCtrl.onServerHostChanged()" placeholder="Server host IP or name">
  Server port:
    <input type="number" ng-model="adminCtrl.serverPort" ng-change="adminCtrl.onServerPortChanged()" placeholder="Server port">

  <h2>Torrents</h2>
  Maximum number of torrents per episode:
    <input type="number" ng-model="adminCtrl.maxTorrentsPerEpisode" ng-change="adminCtrl.onMaxTorrentsPerEpisodeChanged()" placeholder="Max number of torrents per episode" min="0" max="10">
    <br>

  Torrent sort criterion:
    <select ng-model="adminCtrl.torrentSort" ng-change="adminCtrl.onTorrentSortChanged()">
      <option value="mostSeeded">Most seeded</option>
      <option value="largest">Largest</option>
      <option value="smallest">Smallest</option>
      <option value="newest">Newest</option>
      <option value="oldest">Oldest</option>
    </select>
</div>

<h2>Monitoring</h2>
<div class="darker">
  <h2>Disks</h2>
  <table>
    <col width="150"></col>
    <col width="100"></col>
    <col width="100"></col>
    <col width="100"></col>
    <col width="100"></col>
    <tr class="subtitle">
      <td>Mount point</td>
      <td>Avail.</td>
      <td>Used</td>
      <td>Total</td>
      <td>Free</td>
    </tr>
  </table>
  <table ng-repeat="disk in adminCtrl.disks">
    <col width="150"></col>
    <col width="100"></col>
    <col width="100"></col>
    <col width="100"></col>
    <col width="100"></col>
    <tr ng-class="{bad: {{disk.freePercentage <= 5}}, ok: {{disk.freePercentage <= 10}}, good: true}">
      <td>{{disk.mountPoint}}</td>
      <td>{{disk.spaceAvailable | fileSize}}</td>
      <td>{{disk.spaceUsed | fileSize}}</td>
      <td>{{disk.spaceTotal | fileSize}}</td>
      <td>{{disk.freePercentage}}%</td>
    </tr>
  </table>
  <button ng-click='adminCtrl.refresh()'>Refresh</button>
</div>

