<h1>Overview</h1>
<div>
  <table ng-repeat="sub in overviewCtrl.subscriptions">
    <col width="300"></col>
    <col width="200"></col>
    <col width="500"></col>
    <tr class="left">
      <td class="title">{{sub.name}}</td>
      <td>Search parameters: "{{sub.searchParameters}}"</td>
      <td>Current episode: S{{sub.currentEpisode.season | twoDigits}}E{{sub.currentEpisode.episode | twoDigits}} (Last updated on {{sub.lastUpdateCheck}})</td>
      <td><button ng-click='overviewCtrl.updateSubscription(sub)'>Update now!</button></td>
    </tr>
  </table>
  <button ng-click='overviewCtrl.updateAllSubscriptions()'>Update all!</button>
</div>

